h1 {
    background:green;
}

.H1 {
    font-weight: bold;
    font-family: Cambria;
}

.H2 {
    border: red dotted 5px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin: 50px;
    padding: 50px;
}

.H3 {
    font-style: oblique;
    text-align: center; 
    font-size: 24px;
    text-shadow: 1px 0 10px green;
}